body {
  background-color: purple;
  padding: 40px;
}

form {
  width: 400px;
  margin: 30px auto;
}

.filter-button-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#filter-div {
  flex-basis: 100%;
  background-color: grey;
  text-align: center;
  border: solid 2px black;
  height: 50px;
  padding-top: 10px;
}

.btn {
  flex-basis: 20%;
  border: solid 2px black;
}

#sort-button {
  background-color: white;
  border-radius: 50%;
  display: block;
  width: 200px;
  height: 200px;
  margin: 40px auto;
}

#card-section {
  display: flex;
}

#gryffindor, #Gryffindor {
  background-color: orange;
}

#hufflepuff, #Hufflepuff {
  background-color: yellow;
}

#ravenclaw, #Ravenclaw {
  background-color: blue;
}

#slytherin, #Slytherin {
  background-color: green;
}

#student-section {
  background-color: grey;
  border: solid 2px black;
  flex-basis: 50%;
}

#voldemorts-army {
  background-color: white;
  border: solid 2px black;
  flex-basis: 50%;
}

div h1 {
  padding-left: 5px;
}

#student-section-div, #voldemorts-army-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 10px;
  padding: 50px;
}
