/* #BB96DC
#8947C3
#40227A
#1B1145 */

body {
  background-color: black;
  padding: 40px;
  color: #BB96DC;
}

form {
  width: 50%;
  margin: 30px auto;
}

#app-container {
  position: relative;
}

#initial-form {
  text-shadow: -1px 1px 0 #000,
  1px 1px 0 #000,
 1px -1px 0 #000,
-1px -1px 0 #000;
  background-color: #BB96DC;
  text-align: center;
  border: double 10px black;
  padding: 5%;
  width: 50%;
  margin: auto auto;

}

#initial-form h1 {
  background-color: purple;
  padding: 10px;
  margin-bottom: 30px;
}

#input-and-sort-container {
  background-color: #8947C3;
  width: 30%;
  height: 2%;
  margin: auto auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 5px;
}

#sort-button {
  font-size: 2em;
  color: black;
  border-radius: 50%;
  display: block;
  width: 200px;
  height: 200px;
  margin: 40px auto;
  background-image: url(/images/harryPotterLogo2.jpg);
}

#sort-button-text {
  background-color: white;
  color: black;
  border: solid 2px #1B1145;
  border-radius: 10px;
  text-align: center;
  padding: 2px 10px;
}

#hat-message {
  text-align: center;
  width: 80%;
  color: black;
  margin: auto auto;
}

#hat-message p {
  padding: 12px;
  border-radius: 5px;
}

.filter-button-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: black;
  margin-bottom: 3px;
  margin-top: 0;
}

#filter-div {
  flex-basis: 100%;
  background-color: black;
  text-align: center;
  border: solid 2px black;
  height: 50px;
  padding-top: 10px;
}

.btn {
  flex-basis: 20%;
  border: solid 2px black;
  color: black;
}

#card-section {
  display: flex;
  color: black;
}

.card {
  border: groove 2px black;
}


#gryffindor, #Gryffindor, .Gryffindor {
  background-color: orange;
}

#all:hover, #gryffindor:hover, #hufflepuff:hover, #ravenclaw:hover, #slytherin:hover {
  border: solid 2px white;
}

#hufflepuff, #Hufflepuff, .Hufflepuff {
  background-color: yellow;
}

#ravenclaw, #Ravenclaw, .Ravenclaw {
  background-color: blue;
}

#slytherin, #Slytherin, .Slytherin {
  background-color: green;
}

#student-section {
  background-color: white;
  border: solid 2px black;
  flex-basis: 50%;
}

#voldemorts-army {
  background-color: grey;
  border: solid 2px black;
  flex-basis: 50%;
}

#voldemort-member {
  color: white;
  background-color: black;
}

div h1 {
  padding-left: 5px;
}

#student-section-div, #voldemorts-army-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 10px;
  padding: 50px;
}

#battle-results {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 41%;
  width: 300px;
  height: auto;
  z-index: 2;
  padding: 10px;
  border: groove 5px white;
}

#battle-results p {
  background-color: #BB96DC;
  color: black;
  border: groove 2px white;
  padding: 5px;
  text-align: center;
}

#fight-button-container {
  display: flex;
  justify-content: center;
}

#fight-button {
  width: 100px;
}
